body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    float: left;
    margin-left: 230px;
    text-align: center;
    
}

table{
    margin: auto;
}

#screen{
    display: block;
    background-color: rgb(137, 228, 0);
    border-radius: 0px 0px 20px 20px;
    border: none;
    margin-left: 5px;
    font-size:34px;
    height: 60px;
    width: 365px;
    border-top: none;
    text-align: end;
    
}
.align{
    display: inline-block;
    
}

button{
    box-shadow: inset 2px 6px 23px grey;
    border-radius: 50%;
    font-size: 30px;
    width: 80px;
    height: 60px;
    margin: 6px;
}

.calculator{ 
    box-shadow: inset 2px 6px 23px grey;
    border: 3px solid white;
    background-color: white;
    padding: 15px;
    border-radius: 40px;
    
    
}
button:hover{
    background-color:rgb(178, 177, 177);
    color: white;
}
button:active{
    background-color: darkgray;
}
#screen:focus
{
    outline: none;
}
.subinput:focus
{
    outline: none;
}
.subinput{
    margin-top: 5px;
    padding-right: 20px;
    background-color:  rgb(137, 228, 0);
    border-radius: 20px 20px 0px 0px;
    border: none;
    height:20px;
    margin-right: 7px;
    width:347px;
    text-align: right;
    font-size:18px;
    border-bottom: none;

}
.history{
    display: none;
    border: 2px solid white;
    text-align: center;
    background-color: rgb(130, 153, 0);
    height: 500px;
    width: 300px;
    color: azure;
    margin-right: 250px;
    margin-top: 10px;
    float: right;
    border-radius: 20px;
    overflow: auto;
}
.his{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    text-align: center;
    font-style: bold;
    font-size: 20px;
}
.btneq{
    background-color: rgb(23, 164, 203);
    box-shadow: none;
    border-radius: 15px;
}
.btnbck{
    border-radius: 25px;
    box-shadow: none;
    background-color: rgb(228, 0, 0);
}
.btnclear{
    border-radius: 25px;
    box-shadow: none;
    background-color: rgb(228, 0, 0);
}
p{
    font-size: 20px;
}
.btnop{
    border-radius: 25px;
    box-shadow: none;
    color: white;
    background-color: rgb(23, 164, 203);
}
.btnbck:hover{
    background-color: red;
}
.btnclear:hover{
    background-color: red;
}
.btnop:hover{
    background-color: rgb(0, 209, 209);
}
.btneq:hover{
    background-color: greenyellow;
}
h4{
    margin-top: 15px;
    background-color: brown;
    border-radius: 50%;
    width: 30px;
    height: 30px;
} 


