.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    float: left;
    margin-left: 230px;
    text-align: center;
    
}

table{
    margin: auto;
}

#screen{
    display: block;
    background-color: rgb(137, 228, 0);
    border-radius: 0px 0px 20px 20px;
    border: none;
    margin-left: 5px;
    font-size:34px;
    height: 60px;
    width: 365px;
    border-top: none;
    text-align: end;
    
}

button{
    box-shadow: inset 6px 6px 13px grey;
    border-radius: 50%;
    font-size: 30px;
    background: white;
    width: 80px;
    height: 60px;
    margin: 6px;
    font-style:italic;
}

.calculator{ 
    box-shadow: inset 2px 6px 23px grey;
    border: 3px solid white;
    background-color: white;
    padding: 15px;
    border-radius: 40px;
    
    
}
button:hover{
    background-color:grey;
    color: white;
}
button:active{
    background-color: darkgray;
}
#screen:focus
{
    outline: none;
}
.subinput:focus
{
    outline: none;
}
.subinput{
    margin-top: 5px;
    padding-right: 20px;
    background-color:  rgb(137, 228, 0);
    border-radius: 20px 20px 0px 0px;
    border: none;
    height:20px;
    margin-right: 7px;
    width:347px;
    text-align: right;
    font-size:18px;
    border-bottom: none;

}
.history{
    border: 2px solid white;
    text-align: center;
    background-color: grey;
    height: 500px;
    width: 300px;
    color: azure;
    margin-right: 250px;
    margin-top: 40px;
    float: right;
    border-radius: 20px;
    overflow: auto;
}
.his{
    border: 1px solid white;
    text-align: center;
    font-style: bold;
    font-size: 20px;
}
